* {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.about {
    margin: 50px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.about-h1 {
    text-align: center;
    margin-bottom: 50px;
}

.about-details {
    text-align: center;
    color: #89878A;
}

.logo {
    color: #0B877D;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid #0B877D;
    transition: 1s linear;
}

.logo:hover {
    color: white;
    background-color: #0B877D;
}

.myself {
    margin: 30px 70px;
   
}

.progress {
    margin-bottom: 20px;
    margin-right: 100px;
    height: 25px;
}

.progress-bar {
       width: 20%;
       height: 25px;
}

.progress-bar2 {
    background-color: #0B877D;
    width: 70%;
    height: 25px;
}

.progress-bar3 {
    width: 10%;
    height: 25px;
    padding: 5px;
}

.progress-bar4 {
    background-color: #0B877D;
    width: 60%;
    height: 25px;
}

.progress-bar5 {
    width: 20%;
    height: 25px;
    padding: 5px;
}

.progress-bar6 {
    background-color: #0B877D;
    width: 55%;
    height: 25px;
}

.progress-bar7 {
    width: 25%;
    height: 25px;
    padding: 5px;
}

.progress-bar8 {
    background-color: #0B877D;
    width: 50%;
    height: 25px;
}

.progress-bar9 {
    width: 30%;
    height: 25px;
    padding: 5px;
}

.progress-bar10 {
    background-color: #0B877D;
    width: 30%;
    height: 25px;
}

.progress-bar11 {
    width: 50%;
    height: 25px;
    padding: 5px;
}


.about-details2 {
    text-align: center;
}

.image-logo {
    height: 30vmin;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s linear;
}

.image-logo:hover {
    height: 35vmin;
}

@media screen and (max-width: 1000px) {
    .myself {
        margin: 0;      
    }
    
    .progress {
        margin-right: 0;
    }

    .my-img{
        margin-top: 10px;
    }

    .about-h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 800px) {
    .about {       
        margin: 50px 5px 20px 5px;
    }

    .about-h1 {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 550px) {
    .about {       
        margin: 40px 5px 20px 5px;
    }

    .about-h1 {
        margin-bottom: 15px;
    }

    .about-details2 {
        font-size: 20px;
    }

    .about-details {
        font-size: 12px;
    }

    .logo {
        padding: 10px;
        margin: 10px;
        font-size: 20px;       
    }

    .col-6 {
        padding: 0px;
    }
  
    .myself {
    margin:0;   
    }

    .progress {
        margin-top: 10px;
        margin-right: 0px;
    }

  
}