* {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.contact {
    margin: 50px;
}

.contact-h1 {
    text-align: center;
    margin-bottom: 50px;
}

.my-img2 img {
    transition: transform .5s ease;
}

.my-img2:hover img {
    transform: scale(1.1);
}

.contact-logo {
    height: 50vmin;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
    
    .contact {
        margin: 40px;
    }

    .contact-h1 {
        font-size: 35px;
        text-align: center;
        margin: 30px;
    }
    
    
}

@media screen and (max-width: 550px) {
    .contact {
        margin: 15px;
        margin-bottom: 40px;
    }


    .form-text{
        margin-top: 20px
    }
}

