* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1024;
}

.bg-dark {
    background-color:  #0B877D !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
color: #17a2b8;
}

.navbar {
    justify-content: flex-end;
}

.nav-item {
    padding-right: 20px;
}

.nav-link {
     cursor: pointer;
}

@media screen and (max-width: 550px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) {
    .navbar {
        justify-content: flex-end;
        padding-left: 100px;
    }
}
  